@charset "UTF-8";

   .Site {
     display: flex;
     height: 1600px;
     flex-direction: column;
   }
   
     .Site-content {
     flex: 1;
     height: 1600px;
     height:2000px;
   }  
   .pageNav{
      margin-top:50px;
     margin-left:45%;   
      bottom: 30px;
      width:30%;
   }
  .main_header{
    display:flex;
    justify-content:space-between; 
    width:80%;
  }
  .main_leftHeader{
     margin-left:350px;
  }

  .main_title{
    margin-top:20px;
     margin-left:350px;
  }
  .main_list{
     width:60%;
     margin:auto;
     margin-top:50px;
  }
  .spaceArea{
     width:100%;
     height:100px;
  }
  .main_title h3{
     font-size:20px;
     display:inline-block;
  }
  .main_title h5{
      font-size:15px;
      margin-left:3px;
     display:inline-block;
  }

 .submitBtn{
    background-color:#1DB1F8;
    border:#1DB1F8;
 }
 #submitBtn{
 	width:55px;
 	height:50px;
 	padding:0;
 	margin:0;
 }
 #searchInput{
 	width:350px;
 	height:50px;
 	padding:0;
 }
 
  .main_rightHeader{
   /* display:flex;*/
   float: right;
   margin-right: 20%;
   }        
   
     .inputArea{
       display:flex;
       
     }
     table{
        width:53vw;
     }