	@charset "UTF-8";
	
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
   /*.main_img{
      display:flex;
      justify-content:center;
   }*/
   .vh-100{
      display:flex;
      height:100vh;
      justify-content:center;
      align-items:center;
   }
   .login{
      margin-left:10px;
      padding-left:0;
      width:20%;
   }