@charset "UTF-8";
.Site {
	  display: flex;
	  flex-direction: column;
	}
	
	  .Site-content {
	  flex: 1;
	}  
	
	.inner{
	  width: 1300px;
	  min-height:100vh;
	  margin:auto;
	  /* header와 footer에 간격을 주기 위한 임시 margin-top과 margin-bottom*/
	  margin-top:30px;
	  margin-bottom:100px;
	  /* 책형식으로 보여주기 위해 꾸미기 위한 padding*/
	  padding:3px;
	  
	  /* 작업 완료후에 배경색과 border-radius등을 활용해서 입체적으로 꾸며줄것*/
	  display:flex;
	  /*후보1 */
	 

background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);

	  border-radius:5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	}
	
	.summary{
		width:300px;
		min-height:inherit;
    	box-shadow: 6px 0px 5px -2px rgba(0, 0, 0, .2);
		border-bottom-left-radius:8px;
		border-top-left-radius:8px;
	}
	.cardArea{
	 width:900px;
	}
	
	.icons{
	height:50px;
	}
	.note i{
		display:inline-block;
		margin-left:10px;
		margin-top: 5px;
		font-size:42px;
		/*남색계열 현재까진 베스트*/
		/*color:#6E6EFF;*/
		color:#000000;
	}
	
	/* summary 정보영역 css*/
	.title, .place, .company, .start , .end , .budget , .pay{
		
		width:250px;
		min-height:50px;
		margin:auto;
		margin-top:20px;
		margin-bottom:10px;
		display:flex;

/* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

		border-radius:5px;
	}
	
	
	.title_icon , .place_icon , .company_icon , .budget_icon ,.pay_icon{
		margin:auto;
		width:50px;
		text-align:center;
	
	}
	 .title_icon_span , .place_icon_span , .company_icon_span, .pay_icon_span{
		width:50px;
		font-size:20px;
		color: #1c1918;
	}
	
	.title_text , .place_text , .company_text , .budget_text, .pay_text{ 
		margin:auto;
		width:160px;
		word-wrap: break-word;
		color: #1c1918;
	}
	


/* 제목(title) 개별 영역*/
.title_text_span{
	font-size:18px;
}
/* 시작일 종료일 개별 영역*/
	 .start_icon , .end_icon{
		margin:auto;
		width:50px;
		text-align:center;
	}
	 .start_icon_span , .end_icon_span , .budget_icon_span {
		width:50px;
		font-size:16px;
		color: #1c1918;
	}
	
	.start_text , .end_text{
		margin:auto;
		width:160px;
		word-wrap: break-word;
		color: #1c1918;
	}
/* 날짜 (note_day)영역*/
.note_date{
	margin-top:20px;
	float:right;
	margin-left:20px;
}
/* 가계부*/

	.pay{
		width:250px;
		min-height:50px;
		margin:auto;
		margin-top:20px;
		display:flex;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	}
	.payArea{
	width:250px;
	min-height:200px;
	margin:auto;
	background-image: linear-gradient(120deg, #f5f7fa 10%, #c3cfe2 90%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    
	
}

	.payArea_text{
		width:90%;
		margin:auto;
		padding-top:20px;
}

	.payArea span{
		margin-left:10px;
	}
/*카드들이 배치될 items영역 css*/
.items {
	  text-align: center;
	  display:flex;
	  flex-wrap:wrap;
	}
.item {
  width: 350px;
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 30px;
  /*
  background-color: white;
  */
/* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
 
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.item h2 {
  font-weight: 600;
  font-size:20px;
}

/* 사진을 잠시 확대하게 하는 css 문구 주석처리 */
.item:hover .photo img {
  transform: scale(1.1);
}

.sorry {
	width: 900px;
	text-align: center;
	margin-bottom: 30px;
}


.likedComment span{
  display: inline-block;
  width: 49%;
}
.likedComment .fa-heart {
	color:red;
}
.likedComment{
	float:right;
	margin-top:10px;
	margin-right:-50px;
	font-size:17px;
}
.likedComment i{
	font-size: 20px;
}
.photo {
  overflow: hidden;
  height: 280px;
  border-radius: 5px;
}
.photo img {
  /* width: 100%; */
  /*height: 100%; */
  width:inherit;
  height:inherit;
  over-fit:cover;
  transition: 0.5s;
}
.detail h2{
	margin-bottom:3px;
}
.detail p{
	margin-bottom:0;
}
.detail .detail_day{
	font-size:20px;
	margin-bottom:0;
}
.detail .detail_time{
	float:right;
	font-size:16px;
	margin-bottom:0;
}